<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="elmTreeConnection" connectionString="Data Source=net.eeecs.qub.ac.uk;Initial Catalog=rlarkin03; Persist Security Info=True; User ID=rlarkin03; Password=z5lqrlrcxc69sxjq" providerName="System.Data.SqlClient"/>
  </connectionStrings>    
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>
    </system.web>

</configuration>
